<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <label for="role">Role:</label>
        <input type="text" id="role" name="role" required/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
    <div th:if="${error}">
        <span style="color: red;" th:text="${error}"></span>
    </div>
</form>
</body>
</html>
